body{
    font-family: "Montserrat", sans-serif;
}
.logo{
    background-color: rgb(90, 204, 90);
    color: white;
    height: 150px;
    align-items: center;
    display: flex;
    text-align: center;
    justify-content: center;
}
h1{
    font-weight: 900;
    font-size: 40px;
    margin-left: 60px;
    
}
section{
    margin-top: 50px;
    margin-left: 100px;
}
section id nome{
    margin-left: 140px;
}


footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}


.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

.flex{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}
.flex div{
    flex: 1  50px;
    margin: 10px;
    text-align: center;
}
.box{
    position: relative;
    overflow: hidden;
    width: 250px;

}
.box img{
    max-width: 100%;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.box img:hover{
    -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}